<%- include("partials/header") %>

<div class="jumbotron" style="text-align: center">
    <h1>Welcome to YelpCamp</h1>
</div>

<div class="btn btn-dark"><a href="/campgrounds">View All of our amazing Campgrounds!</a>
</div>
<%- include("partials/footer") %>
